body,
html {
  background-color: white;
  height: 100%;
  margin: 0;
}
#home-bg {
  position: relative;
  height: 800px;
  background-image: url("http://cdn.wallpapersafari.com/98/7/dOBCZa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 110%;
  margin-top: -22px;
  text-shadow: 2px 2px 4px #000000;
  margin-top: -43px;
  height: 114vh;
  z-index: 0;
}
#bg-container {
  color: coral;
  text-align: center;
}
#bg-header {
  font-size: 9em;
  line-height: 7;
  opacity: .9;
  font-family: "Sonsie One";
}
#bg-slogan {
  font-size: 30px;
  line-height: 0;
  margin-top: 2em;
  color: coral;
  font-family: "Sonsie One";
}
.symbols {
  height: 230px;
  width: 300px;
  background-color: white;
  /*display:inline;*/
  position: relative;
  /*border: 3px solid grey;*/
  display: inline-block;
  text-align: left;
  font-size: 35px;
}
#ma-symbol {
  background-image: url("https://i.pinimg.com/originals/8e/bb/0b/8ebb0b322843dae182ea826be2937aa5.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#weight-symbol {
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/773600-200.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#all-trainers {
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/499189-200.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.div-headers {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: coral;
  font-family: "Sonsie One";
}
.containers {
  margin-top: 100px;
  display: inline-block;
  margin: 40px;
}
#main-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.smallTxt {
  font-size: 1em;
}
.underTxt {
  width: 25em;
}
.coachitem {
  padding: 0.5em;
  border: solid #303030 9px;
  margin: 2em;
  margin-top: 5em;
  display: inline-table;
  border-radius: 1.5em;
  text-align: center;
  background-image: url(https://www.fg-a.com/wallpapers/white-background-geo-shapes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.coachitem img {
  width: 300px;
  height: 300px;
  border-radius: 1em;
  border: coral 2px double;
}
.coachitem .button2 {
  border-radius: 10px;
  border: none;
  background: #313131;
  color: coral;
}
.coachitem .info {
  color: #303030;
}
.coachitem .info1 {
  color: coral;
  font-family: "Sonsie One";
}
.Single {
  display: inline-flex;
  border: solid 0.25em #303030;
  border-radius: 3em;
  margin-left: 1.75em;
  margin-top: 5em;
  margin-right: 1.75em;
  padding: 3em;
  background-size: cover;
  background-repeat: no-repeat;
}
.Single .MainImage {
  border: coral 3px;
  border-style: solid;
  border-radius: 18em;
  width: 100%;
  height: 70%;
}
.Single .button {
  transition-duration: 0.4s;
  cursor: pointer;
}
.Single .button1:hover {
  background-color: #634c73;
  color: white;
}
.Single .button1 {
  background-color: #303030;
  color: coral;
  width: 198px;
  border: none;
}
.Single .vidbutton:hover {
  background-color: #634c73;
  color: white;
}
.Single .vidbutton {
  border: none;
  width: 400px;
  background-color: #303030;
  color: coral;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}
.Single .info {
  color: coral;
  font-family: "Sonsie One";
}
.Single .coachinfo {
  margin-right: 10em;
}
.Single ul {
  list-style: none;
}
.Single .modal-title {
  color: coral;
  font-family: "Sonsie One";
}
.Single #infoname {
  color: coral;
  font-family: "Sonsie One";
  text-align: center;
}
