.coachitem {
  padding: 0.5em;
  border: solid #799c7a 9px;
  margin: 2em;
  display: inline-table;
  border-radius: 1.5em;
  text-align: center;
  background-image: url(https://www.fg-a.com/wallpapers/white-background-geo-shapes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.coachitem img {
  width: 300px;
  border-radius: 1em;
  border: #799c7a 2px double;
}
.coachitem .button2 {
  border-radius: 10px;
  border: none;
  background: #799c7a;
  color: coral;
}
.coachitem .info {
  color: #799c7a;
}
