<div id="about-bg"> <img class="header" src="http://images.mentalfloss.com/sites/default/files/istock_000042058362_small.jpg?resize=1100x740" alt="header" style= "width:100%">
  </div>
  <div class="image">
      <img class="header" src="http://images.mentalfloss.com/sites/default/files/istock_000042058362_small.jpg?resize=1100x740" alt="header" style= "width:100%"></div>

<br>
<div class="person">
   <img class="headshot" src="https://websiteblob1.blob.core.windows.net/forms/1708-lance-coke-headshot-1" alt="image1">
   <h1>Lance</h1>
    A personal goal of mine is to bring comfort to people around me in any situation. I believe that's the only way to come together as a human race and actually make the world better. 
</div>

<div class = "person">
   <img class="headshot" src="https://websiteblob1.blob.core.windows.net/forms/1706-jamaris-buford-headshot-1" alt="image2">
   <h1>Jamaris</h1>
    My mission in life is not merely to survive, but to thrive; and to do so with passion, faith, compassion, humor, a strong work ethic, and style;). I'm also here to show everyone around me how great they can be and how great God is. Some people live to eat, I eat to live.
</div> 

<div class="person">
   <img class="headshot" src="https://websiteblob1.blob.core.windows.net/forms/1702-christopher-coman-headshot-1" alt="image3">
   <h1>Chris</h1>
    ‘When much is given, much is expected.’ A quote I’ve learned to live by. With this opportunity, I will not try to meet such expectations, I will go above and beyond that, for that is what I expect out of myself. 
</div>

<div class="person">
   <img class="headshot" src="https://websiteblob1.blob.core.windows.net/forms/1703-adrian-thomas-headshot-1" alt="image4">
   <h1>Adrian</h1>
    I am dedicated and I have eagerness to learn new technologies; I enjoy soaking up information and applying it to all aspects of my life. I want to help others by using technology to build something of use and help improve the quality of other's lives in meaningful ways. 
</div>



