<link rel="stylesheet" href="app/styles1.css" >
  <div id="about-bg">
  </div>
  <div class="image">
      <img class="header" src="http://images.mentalfloss.com/sites/default/files/istock_000042058362_small.jpg?resize=1100x740" alt="header" style= "width:100%"></div>





    <div class="about"></div>
   <img class="headshot" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAyQAAAAJDk4NDllZTE0LTZlZGYtNDcyYS1hZjMxLTdlNmQ2MGQ3ZDIxMw.jpg" alt="image1">
   <h1>Lance</h1>
    words words words words words words words words words words words words words 
    words words words words words words words words words words words words words 
    words words words words words words words words 

   <img class="headshot" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAnCAAAAJDg1ODVhNGQ4LTkxODUtNGY5NS04NjJlLWY2MDNmZDE1MWUwMQ.jpg" alt="image2">
   <h1>Jamaris</h1>
    words words words words words words words words words words words words words
     words words words words words words words words words words words words words
      words words words words words words words words 

<div class="image">
   <img class="headshot" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAyMAAAAJDkwNDYyM2Q3LWM0NzEtNDBkZi05MWY1LTJhMzdhODA2NzQ4ZQ.jpg" alt="image3">
   <h1>Chris</h1>
    words words words words words words words words words words words words
     words words words words words words words words words words words words
      words words words words words words words words words words 

<div class="image">
   <img class="headshot" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAu0AAAAJGY1YTY3N2U1LTE3ZjAtNDQ1Zi05MTY4LTc3MjRiOWY0NTJjZQ.jpg" alt="image4">
   <h1>Adrian</h1>
    words words words words words words words words words words words words
     words words words words words words words words words words words words
      words words words words words words words words words words 
</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

