<div class="List" ng-controller="listCtrl">
    <div class="banner">
        <h1 class="title">Trainers</h1>
    </div>
    <div class="col-3-lg coachitem" ng-repeat="coach in data">
        <img ng-src="{{coach.image}}" alt="couch image">
        <h4 class="info1">{{coach.name}}</h4>
        <h4>Expertise: {{coach.expertise}}</h4>
        <h4>Rating: {{coach.rating}}</h4>
        <h4>Price: {{coach.price}}</h4>

        <button class="button2" ng-click="getId(coach.id)" value="submit">View Info</button>
    </div>
</div>