<div class="container-fluid List">
    <div class="banner">
        <h1 class="title">WELCOME</h1>
    </div>
    <div class="Login" style="    
            margin: auto;
            width: 95%;
            display: table-cell;
            border: solid 0.25em #222222;
            border-radius: 3em;
            padding: 3em;
            background-image: url(../images/banner.png);
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            align-content: center;
            width: fit-content;
            margin-top: 3em;">
        <h4 class="info2">Please enter your name and password</h4>
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <a href="#/user"><button class="button3">Enter</button></a>
    </div>
</div>