<div class="container-fluid List" ng-controller="singleCtrl">
    <div class="banner">
        <h1 class="title">{{coach.name}}</h1>
    </div>
    <div class="Single" >
        <div class="col-4-lg" style="text-align: -webkit-center;">
            <img class="img-responsive img-circle MainImage" src="{{coach.image}}" alt="coach Image">
            <!--modal trigger. experiment -->
            <button type="button" class="btn btn-lg button vidbutton" data-toggle="modal" data-target="#CoachModal">View Promo Video</button>
            <!--modal trigger. experiment -->
            <!--    <button type="button" class="btn btn-primary button1">Rate</button> -->
            <a href="#/"><button type="button" class="btn btn-primary button button1">Home</button></a>
            <a href="#/coach"><button type="button" class="btn btn-primary button button1">Back</button></a>
            <div id="map" class="col-12-lg" ></div> 
        </div> 
        <div class="col-8-lg coachinfo" style="background-image:url({{coach.background}})" >
            <ul>
                <li><h2 class="info">Expertise:</h2> <h4>{{coach.expertise}}</h4></li>
                <li><h2 class="info">Schedule:</h2><h4>{{}}</h4>
                <li><h2 class="info">Price: </h2> <h4>{{coach.price}}</h4></li>
                <li><h2 class="info">Phone:</h2> <h4>{{coach.phone}}</h4></li>
                <li><h2 class="info">Email:</h2> <h4>{{coach.email}}</h4></li>
                <li><h2 class="info">Bio:</h2><h4>{{coach.bio}}</h4></li>
                     <p> </p> 
            </ul>
        </div>
        <div id="CoachModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-conent">
                    <div class="model-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Promo Vid</h4>
                    </div>
                    <div class="modal-body">
                        <iframe width="560px" height="315px" ng-src="{{coach.video}}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>